#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.case{
  height: 50px;
  width: 50px;
  font-size:2em;
  text-align: center;
  border:2px solid crimson;
}